[Unit]
Description=Updater for Font Helper
After=systemd-user-sessions.service

[Service]
Type=simple
ExecStart=/bin/bash -c '${HOME}/.local/share/figma-fonthelper/updater.sh'
ExecStop=/bin/bash -c "`which kill` -f -s SIGTERM `ps --no-headers -fC updater.sh | awk '{print $2}'`"
Restart=on-failure

[Install]
WantedBy=multi-user.target
