[Unit]
Description=Font Helper for Figma
After=systemd-user-sessions.service

[Service]
Type=simple
ExecStart=/usr/bin/env bash -c '${XDG_DATA_HOME:-$HOME/.local/share}/figma-fonthelper/fonthelper'
ExecStop=/usr/bin/env bash -c '`which killall` fonthelper'
Restart=on-failure

[Install]
WantedBy=multi-user.target
