[Unit]
Description=Font Helper for Figma
After=systend-user-sessions.service

[Service]
Type=simple
ExecStart=/opt/FontHelper/fonthelper
ExecStop=killall fonthelper
Restart=on-failure

[Install]
WantedBy=multi-user.target
